@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');



:root{

    --primary: #3dcfd3;

    --dark: #161616;

    --pure: #ffffff;

    --ternary: #898989;

    --light: #f2f2f2;

}



*{

    margin: 0px;

    padding: 0px;

}

html{
    scroll-behavior: smooth;
}



/* body{

    background-color: var(--dark);

    color: white;

} */



a{

    color: inherit;

    text-decoration: none;

}





.active{

    position: relative;

}

.active::after{

    content: '';

    position: absolute;

    background-color: var(--primary);

    bottom: 0px;

    left: 0px;

    right: 0px;

    height: 5%;

    z-index: 1;

}



.nav{

    display: flex;

    flex-direction: row;

    justify-content: center;

    justify-content: space-around;

    align-items: center;

    /* background-color:rgb(202, 202, 202); */

    height: 15vh;

    font-family: 'Poppins', sans-serif;

}



a:hover {

  /* color: red; */

  background-color: transparent;

  /* text-decoration: underline; */

}

a:active {

  /* color: yellow; */

  background-color: transparent;

  /* text-decoration: underline; */

}



.left{

    font-size: 1.7rem;

    cursor: pointer;

    display: flex;

    align-items: center;

    justify-content: center;

}



.left img{

    height: 120px;

    margin: 10px;

}



.mid ul {

    display: flex;

    flex-direction: row;

    align-items: center;

    justify-content: center;



}



.mid ul li{

    list-style: none;

    margin: 10px 30px;

    padding: 5px 5px;

    font-size: 1.2rem;

    transition-duration: 200ms;

    transition-property: transform;

    transition-timing-function: ease-in-out;

    position: relative;

    z-index: 1;

}



.mid ul li::before{

    content: '';

    position: absolute;

    bottom: 0px;

    left: 0px;

    right: 0px;

    z-index: -1;

    background-color: var(--primary);

    height: 5%;

    width: 0%;

    transition-duration: 200ms;

    transition-property: width;

    transition-timing-function: ease-in-out;

}





.mid ul li:hover::before{

    width: 100%;

}







.right .btn{

    font-size: 1.3rem;

    font-weight: 500;

    padding: 10px 30px;

    cursor: pointer;

    background: none;

    border: 2px solid var(--primary);

    z-index: 1;

    position: relative;

    transition: 200ms color ease-in-out;

}



.right .btn::before{

    content: '';

    position: absolute;

    bottom: 0px;

    left: 0px;

    right: 0px;

    height: 0%;

    background-color: var(--primary);

    z-index: -1;

    transition: 200ms height ease-in-out;

}



.right .btn:hover::before{

    height: 100%;    

}



.right .btn:hover{

    color: white;

}



/* Guidelines Body */



.body{

    font-size: 1.2rem;

    margin: 10px 10%;

}



.margin{

    margin: 50px 0px;

}



h1{

    font-family: 'Poppins', sans-serif;
}

/* contacts */

#contacts{

    background-color: #2c3e50;

    display: flex;

    flex-direction: row;

    justify-content: center;

    align-items: center;

    height: 30vh;

    margin-top: 20px;

    justify-content: space-evenly;

    text-align: center;

    color: white;

    font-family: 'Poppins', sans-serif;

}