@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');



:root{

    --primary: #3dcfd3;

    --dark: #161616;

    --pure: #ffffff;

    --ternary: #898989;

    --light: #f2f2f2;

}



html{

    scroll-behavior: smooth;

}



*{

    margin: 0px;

    padding: 0px;

}



/* body{

    background-color: var(--dark);

    color: white;

} */



a{

    color: inherit;

    text-decoration: none;

}





.active{

    position: relative;

}

.active::after{

    content: '';

    position: absolute;

    background-color: var(--primary);

    bottom: 0px;

    left: 0px;

    right: 0px;

    height: 5%;

    z-index: 1;

}



.nav{

    display: flex;

    flex-direction: row;

    justify-content: center;

    justify-content: space-around;

    align-items: center;

    /* background-color:rgb(202, 202, 202); */

    height: 15vh;

    font-family: 'Poppins', sans-serif;

}



.left{

    font-size: 1.7rem;

    cursor: pointer;

    display: flex;

    align-items: center;

    justify-content: center;

}



.left img{

    height: 120px;

    margin: 10px;

}



.mid ul {

    display: flex;

    flex-direction: row;

    align-items: center;

    justify-content: center;



}



.mid ul li{

    list-style: none;

    margin: 10px 30px;

    padding: 5px 5px;

    font-size: 1.2rem;

    transition-duration: 200ms;

    transition-property: transform;

    transition-timing-function: ease-in-out;

    position: relative;

    z-index: 1;

}



.mid ul li::before{

    content: '';

    position: absolute;

    bottom: 0px;

    left: 0px;

    right: 0px;

    z-index: -1;

    background-color: var(--primary);

    height: 5%;

    width: 0%;

    transition-duration: 200ms;

    transition-property: width;

    transition-timing-function: ease-in-out;

}





.mid ul li:hover::before{

    width: 100%;

}







.right .btn{

    font-size: 1.3rem;

    font-weight: 500;

    padding: 10px 30px;

    cursor: pointer;

    background: none;

    border: 2px solid var(--primary);

    z-index: 1;

    position: relative;

    transition: 200ms color ease-in-out;

}



.right .btn::before{

    content: '';

    position: absolute;

    bottom: 0px;

    left: 0px;

    right: 0px;

    height: 0%;

    background-color: var(--primary);

    z-index: -1;

    transition: 200ms height ease-in-out;

}



.right .btn:hover::before{

    height: 100%;    

}



.right .btn:hover{

    color: white;

}





/* home Section */



.home{

    display: flex;

    justify-content: center;

    justify-content: space-evenly;

    padding: 0px 5.5%;

    align-items: center;

    height: 85vh;

}



.hometext h1{

    font-size: 4.5rem;

    font-family: 'Poppins', sans-serif;

}



.hometext h2{

    font-size: 3rem;

    font-family: 'Poppins', sans-serif;

}



.hometext span{

    color: var(--primary);

}



.hometext .btn1{

    font-size: 1.3rem;

    font-weight: 500;

    padding: 10px 30px;

    cursor: pointer;

    background-color: var(--primary);

    border: 2px solid var(--primary);

    margin: 10px 20px 0px 0px;

    color: white;

    transition-duration: 200ms;

    transition-property: transform, box-shadow;

    transition-timing-function: ease-in-out;

    box-shadow: 0px 0px 0px rgb(0, 0, 0, 0.8);

}



.hometext .btn1:hover{

    transform: scale(1.1, 1.1);

    box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.6);



}



.hometext .btn2{

    font-size: 1.3rem;

    font-weight: 500;

    padding: 10px 30px;

    cursor: pointer;

    background: none;

    border: 2px solid var(--primary);

    margin: 10px 20px 0px 0px;

    color: var(--primary);

    position: relative;

    z-index: 1;

    transition: 200ms color ease-in-out;

}



.hometext .btn2::before{

    content: '';

    position: absolute;

    bottom: 0px;

    left: 0px;

    right: 0px;

    height: 0%;

    background-color: var(--primary);

    z-index: -1;

    transition: 200ms height ease-in-out;

}



.hometext .btn2:hover::before{

    height: 100%;

}



.hometext .btn2:hover{

    color: white;

}



.homeimage img{

    height: 600px;

    filter: drop-shadow(5px 10px 5px rgb(0, 0, 0, 0.4));

}





/* contacts */

#contacts{

    background-color: #2c3e50;

    display: flex;

    flex-direction: row;

    justify-content: center;

    align-items: center;

    height: 30vh;

    margin-top: 20px;

    justify-content: space-evenly;

    text-align: center;

    color: white;

    font-family: 'Poppins', sans-serif;

}



.email{

    font-size: 0.9rem;

}



.insta{

    font-size: 0.9rem;

}





@media screen and (max-width: 1440px){

    .nav{

        height: 20vh;

    }



    .left{

        font-size: 1.5rem;

        cursor: pointer;

        display: flex;

        align-items: center;

        justify-content: center;

    }





    .left img{

        height: 120px;

        margin: 10px;

    }



    .homeimage img{

        height: 400px;

    }



    .home{

        height: 80vh;

    }



    .home .hometext h1{

        font-size: 3.5rem;

    }



    .home .hometext h2{

        font-size: 2.5rem;

    }

}



@media screen and (max-width: 768px){



    .nav{

        display: flex;

        flex-direction: column;

        height: 35vh;

    }





    .left{

        font-size: 1.7rem;

        cursor: pointer;

        display: flex;

        flex-direction: column;

        align-items: center;

        justify-content: center;

    }



    .mid ul {

        display: flex;

        flex-direction: row;

        align-items: center;

        justify-content: center;

    }



    .mid ul li{

        font-size: 1.5rem;

    }



    .homeimage img{

        height: 300px;

    }



    .hometext h1{

        font-size: 4rem;

    }



    .hometext h2{

        font-size: 3rem;

    }



    .home{

        height: 65vh;

    }

}



@media screen and (max-width: 467px){



    .nav{

        display: flex;

        flex-direction: column;

        height: 60vh;

        margin: 0px;

        padding: 0px;

    }





    .left img{

        height: 100px;

        margin: 10px;

    }



    .mid ul {

        display: flex;

        flex-direction: column;

        align-items: center;

        justify-content: center;

    }



    .home{

        display: flex;

        flex-direction: column;

        justify-content: center;

        justify-content: space-evenly;

        padding: 0px 5.5%;

        align-items: center;

        height: 85vh;

        margin-top: 50px;

        text-align: center;

    }



    .hometext h1{

        font-size: 3rem;

    }



    .hometext h2{

        font-size: 2rem;

    }



    .hometext .btn1{

        font-size: 1.2rem;

    }





    .hometext .btn2{

        font-size: 1.2rem;

        

    }



    .homeimage img{

        height: 300px;

        margin-top: 40px;

    }



    .mid ul li{

        background-color: rgb(231, 231, 231);

        width: 80vw;

        text-align: center;

        font-size: 1.2rem;

    }

   

}



@media screen and (max-width: 360px){



    .home{

        display: flex;

        flex-direction: column;

        justify-content: center;

        justify-content: space-evenly;

        padding: 0px 5.5%;

        align-items: center;

        height: 85vh;

        margin-top: 100px;

        text-align: center;

    }



    .nav{

        display: flex;

        flex-direction: column;

        height: 70vh;

        margin: 0px;

        padding: 0px;

    }

}